<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- {% load static %} -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- <link rel="stylesheet" href="{% static 'style.css'%}"> -->
    <title>Document</title>
</head>
<body>
    
    <header>
        <div class="background_image">
            <img src="https://cdn.vacanceselect.com/_th_/media/ALL/img/etabs/gallery/101/high/01.jpg?v=1677832531&width=1900&height=1266" width="100%">
        </div>
        
        <div class="black__box">
            <div class="top__black__box">
                <div class="menu">
                    <ion-icon name="menu"></ion-icon>
                </div>  
            </div>
            <div class="mid__black__box">
                <h1>Kavkas Home</h1>
               <div class="note_camping">
                    <img src="https://cdn-icons-png.flaticon.com/128/10109/10109855.png" height="20px" width="20px">
                    <img src="https://cdn-icons-png.flaticon.com/128/10109/10109855.png" height="20px" width="20px">
                    <img src="https://cdn-icons-png.flaticon.com/128/10109/10109855.png" height="20px" width="20px">
                    <img src="https://cdn-icons-png.flaticon.com/128/10109/10109855.png" height="20px" width="20px">
               </div>

               <div class="lieux">
                   <p>Sète, France</p>
               </div>

               <div class="information">
                   <input type="text" placeholder="Départ-Arrivée">
                   <input type="text" placeholder="1-6 pers.">
                   <br>
                   <button type="button">Vérifier les disponibiliter</button>
               </div>
            </div>
           
        </div> 
    </header>
    
    <div class="separator"></div>
    
    <div class="welcome__text__box">
        <div class="top__welcome__box"></div>
    </div>
    
    
    
    
    <!-- <div class="body_depart">
        <div class="objet">
            <p>BIENVENUE AU CAMPING KAVKAS HOME</p>
      
            <div class="note_camping_2">
                <img src="https://cdn-icons-png.flaticon.com/128/10109/10109855.png" height="20px" width="20px">
                <img src="https://cdn-icons-png.flaticon.com/128/10109/10109855.png" height="20px" width="20px">
                <img src="https://cdn-icons-png.flaticon.com/128/10109/10109855.png" height="20px" width="20px">
                <img src="https://cdn-icons-png.flaticon.com/128/10109/10109855.png" height="20px" width="20px">
            </div>
        </div>
    </div> -->
    
    <style>
        @media (max-width: 500px){
            html, body{
                overflow-x: hidden;
            }

            body{
                margin: 0;
                padding: 0;
            }

            header{
                border: 1px solid #000;
                width: 100%;
                height: 100%;
                position: absolute;
            }

            .background_image{
                /* border: 1px solid #000; */
                width: 100%;
                height: 100%;
                position: absolute;
            }

            .background_image img{
                width: 150%;
                height: 100%;
            }
        
            .black__box {
                background-color: rgba(0, 0, 0, 0.787);
                margin-left: 0%;
                font-size: 20px;
                width: 50%;
                height: 100%;
                margin-top: 0;
                margin-left: 50%;
                position: absolute;
                z-index: 2;
            }

            .top__black__box{
                /* border: 1px solid #eee; */
                width: 100%;
                height: 10%;
            }


            .menu{
                float: right;
                /* border: 1px solid #eee; */
            }

            .menu ion-icon{
                color: #eee; 
                font-size: 50px;
            }

            .mid__black__box{
                /* border: 1px solid #eee; */
                width: 100%;
                height: 60%;
                margin-top: 40%;                
            }

            .mid__black__box h1{
                color: #eee;
                font-family: sans-serif;
                font-size: 40px;
                text-align: center
            }

            .lieux p{
                color: #eee;
                font-family: sans-serif;
                text-align: center;
            }

            .note_camping{
                text-align: center;
            }

            .information input {
                margin-top: 20px;
                background-color: rgba(0, 0, 0, 0.787);
                border: 1px solid rgba(255, 255, 255, 0.787);
                border-radius: 10px;
                color: white;
                margin-left: 10%;
                width: 150px;
                height: 25px;
                font-size: 15px;
            }

            input:active {
                border: 1px solid rgb(0, 0, 0, 0.787);
            }

            button {
                margin-left: 280px;
                margin-top: 50px;
                width: 300px;
                height: 50px;
                border: 2px solid #ea5927;
                border-radius: 25px;
                background-color: #ea5927;
                color : white;
                font-size: 20px;
                transform: scale(1);
            }

            button:hover{
                transform: scale(1.3);
            }

            .objet{
                font-size: 2.2rem;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 1.5em;
                display: flex;
                color: #323e48;
            }

            .separator{
                border: 1px solid red;
                width: 100%;
                height: 50px;
                margin-top: 175%;
            }

            .welcome__text__box{
                border: 1px solid green;
                width: 100%;
                height: 50px;
            }

            .top__welcome__box{
                border: 1px solid #000;
                width: 100%;
                height: 50%;
            }
        }
    </style>


    <!-- <style>
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


    header{
        display: flex;
        border: 1px solid #000;
    }


    body {
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    }

    .background_image {
        border: 1px solid #ca3d3d;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .background_image img{
        width: 100%;
        height: 100%;
    }

    .black__box {
        /* margin-left: -22%; */
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.787);
        width: 50%;
        height: 100%;
        margin-top: 0;
        margin-left: 50%;
        position: absolute;
        z-index: 2;
    }

    .separator{
        height: 1000px;
        border: 1px solid #000;
    }

    h1 {
        margin-top: 0;
        color: white;
        padding-left: 280px;
        padding-top: 100px;
        font-family: 'Quicksand', sans-serif;
    }

    .note_camping {
        text-align: center;
        margin-left: 50px;
    }

    .lieux {
        color: white;
        text-align: center;
        margin-left: 50px;
    }

    .menu {
        text-align: right;
        margin-right: 20px;
    }

    .information input {
        margin-top: 50px;
        background-color: rgba(0, 0, 0, 0.787);
        border: 1px solid rgba(255, 255, 255, 0.787);
        border-radius: 10px;
        color: white;
        margin-left: 270px;
        width: 300px;
        height: 50px;
        font-size: 25px;
    }

    input:active {
        border: 1px solid rgb(0, 0, 0, 0.787);
    }

    button {
        margin-left: 280px;
        margin-top: 50px;
        width: 300px;
        height: 50px;
        border: 2px solid #ea5927;
        border-radius: 25px;
        background-color: #ea5927;
        color : white;
        font-size: 20px;
        transform: scale(1);
    }

    button:hover{
        transform:  scale(1.3);
    }
    .objet{
        font-size: 2.2rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.5em;
        display: flex;
        color: #323e48;
    }

    .note_camping_2{
        padding-top: 20px;
        padding-left: 20px;
    }
    </style> -->
</body>
</html>