@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


header{
    display: flex;
    border: 1px solid #000;
}


body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.background_image {
    border: 1px solid #ca3d3d;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.background_image img{
    width: 100%;
    height: 100%;
}

.logo_acceuil {
    /* margin-left: -22%; */
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.787);
    width: 50%;
    height: 100%;
    margin-top: 0;
    margin-left: 50%;
    position: absolute;
    z-index: 2;
}

.separator{
    height: 1000px;
    border: 1px solid #000;
}

h1 {
    margin-top: 0;
    color: white;
    padding-left: 280px;
    padding-top: 100px;
    font-family: 'Quicksand', sans-serif;
}

.note_camping {
    text-align: center;
    margin-left: 50px;
}

.lieux {
    color: white;
    text-align: center;
    margin-left: 50px;
}

.menu {
    text-align: right;
    margin-right: 20px;
}

.information input {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.787);
    border: 1px solid rgba(255, 255, 255, 0.787);
    border-radius: 10px;
    color: white;
    margin-left: 270px;
    width: 300px;
    height: 50px;
    font-size: 25px;
}

input:active {
    border: 1px solid rgb(0, 0, 0, 0.787);
}

button {
    margin-left: 280px;
    margin-top: 50px;
    width: 300px;
    height: 50px;
    border: 2px solid #ea5927;
    border-radius: 25px;
    background-color: #ea5927;
    color : white;
    font-size: 20px;
    transform: scale(1);
}

button:hover{
    transform:  scale(1.3);
}
.objet{
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5em;
    display: flex;
    color: #323e48;
}

.note_camping_2{
    padding-top: 20px;
    padding-left: 20px;
}